<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-timer"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Total Cards Due</p>
                                    <% let dueCount = 0 %>
                                    <% allStacks.forEach((oneStack, index) => { %>
                                      <% dueCount += obj[oneStack._id]%>
                                    <%  }) %>

                                    <%=dueCount%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                            <% if (allStacks.length === 0) { %>
                              <div class="header text-center">
                                <p>Welcome</p>
                            <%  } else { %>
                              <div class="header">
                              <h4 class="title">My Stacks</h4>
                            <%  } %>
                        </div>
                        <div class="content">
                            <div class="row">
                                <% if (allStacks.length === 0) { %>
                                    <div class="col-md-12 text-center">
                                      <h3>Create Your First Stack</h3>
                                      <a href="/dashboard/my-stacks" class="btn btn-primary btn-lg">Get Started</a>
                                <%  } else { %>
                                  <div class="col-md-12">
                                    <table class="table table-hover">
                                      <tbody>
                                          <% allStacks.forEach((oneStack, index) => { %>
                                            <tr>
                                              <td class="big-col">
                                                <b><%= oneStack.stackName %></b>
                                              </td>
                                              <td class="col-md-3">
                                                Stack Size: <%= oneStack.cards.length %>
                                              </td>
                                              <td class="col-md-3">
                                                <% if (obj[oneStack._id] === 0) { %>
                                                  No Cards Due
                                                <%  } else { %>
                                                  Cards Due: <%=obj[oneStack._id]%>
                                                <%  } %>
                                              </td>
                                              <td class="col-md-3">
                                                <% if (oneStack.cards.length === 0) { %>
                                                  <a href="/dashboard/my-stacks/<%= oneStack._id %>/" class="btn btn-sm beginTest">Add Cards</a>
                                                <%  } else { %>
                                                  <a href="/dashboard/my-stacks/<%= oneStack._id %>/test" class="btn btn-sm beginTest">Test Whole Stack</a>
                                                <%  } %>
                                                <% if (obj[oneStack._id] !== 0) { %>
                                                  <a href="/dashboard/my-stacks/<%= oneStack._id %>/testdue" class="btn btn-sm beginTest">Test Due</a>
                                                <%  } %>
                                              </td>
                                            </tr>
                                          <% }) %>
                                      </tbody>
                                    </table>
                                    <%  } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
