<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Stack List</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-hover">
                                      <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Stack Name</th>
                                          <th>Cards</th>
                                          <th>Add/Edit Cards</th>
                                          <th>Delete</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          <% allStacks.forEach((oneStack, index) => { %>
                                            <tr>
                                              <th scope="row"><%= index + 1 %></th>
                                              <td><%= oneStack.stackName %></td>
                                              <td><%= oneStack.cards.length %></td>
                                              <td>
                                                <form method="post" action="/dashboard/<%= oneStack._id %>/delete">
                                                  <button class="btn btn-danger btn-sm">Edit Stack</button>
                                                </form>
                                              </td>
                                              <td>
                                                <form method="post" action="/dashboard/home/<%= oneStack._id %>/delete">
                                                  <button class="btn btn-danger btn-sm">Delete</button>
                                                </form>
                                              </td>
                                            </tr>
                                          <% }) %>
                                      </tbody>
                                    </table>
                                </div>
                                <div class="text-center">
                                  <button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#newStack">
                                    Create Stack
                                  </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>

<%# New Stack Modal -----------------------------------------%>

<div class="modal fade" id="newStack" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Stack</h4>
      </div>
      <form method="post" action="/dashboard/home">
        <div class="modal-body">
          <div class="form-group">
              <label for="new-stack">Stack Name</label>
              <input type="text" id="new-stack" name="newName" class="form-control border-input" placeholder="New Stack">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
