<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Public Stacks</h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th class="sm-col">#</th>
                                      <th>Stack Name</th>
                                      <th>Cards</th>
                                      <th>Copy</th>
                                      <th>Created By</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                      <% allStacks.forEach((oneStack, index) => { %>
                                        <% if (oneStack.cards.length !== 0) { %>
                                        <tr>
                                          <th scope="row"><%= index + 1 %></th>
                                          <td><%= oneStack.stackName %></td>
                                          <td><%= oneStack.cards.length %></td>
                                          <td>

                                            <a href="/dashboard/<%= oneStack._id %>/copy" class="btn btn-primary beginTest">Copy Stack</a>

                                          </td>
                                          <td><%=oneStack.user.firstName%></td>
                                        </tr>
                                        <%  } %>
                                      <% }) %>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
