<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header text-center">
                        <h4 class="title"><%=path.charAt(0).toUpperCase() + path.slice(1)%></h4>
                        <hr />
                    </div>
                    <form method="post" class="memoForm" action="/dashboard/my-stacks/<%= singleStack._id %>/test">
                      <div class="content text-center">
                        <% let index = 0%>
                        <% singleStack.cards.forEach((oneCard) =>
                      { %>
                        <% if (oneCard.dueAgain === true || Date.now() - oneCard.dueDate > 0) { %>
                            <div id="chartHours" class="ct-chart ct-chart<%=index%>">
                              <div class="prompt prompt<%=index%>">
                                <p class="promptText"><%= oneCard.cardFront %></p>
                              </div>
                              <div class="answer answer<%=index%>">
                                <a class="btn btn-primary btn-lg answerbtn">Show Answer</a>
                                <p class="answerText"><%= oneCard.cardBack %></p>
                              </div>
                            </div>

                            <div class="inputContainer">

                              <input type="hidden" class="difficultyInput" name="difficulty[<%= index %>][score]">
                              <input type="hidden" class="cardId" name="difficulty[<%= index %>][cardId]" value="<%= oneCard._id %>">

                              <div class="footer text-center cardFooter cardFooter<%=index%>">
                                  <div class="chart-legend container-fluid">
                                      <span>Easy</span>
                                      <a class="btn btn-success btn-md testbtn5 testbtn" data-toggle="tooltip" data-placement="top" title="perfect response">5</a>
                                      <a class="btn btn-success btn-md testbtn4 testbtn" data-toggle="tooltip" data-placement="top" title="correct response after a hesitation">4</a>
                                      <a class="btn btn-warning btn-md testbtn3 testbtn" data-toggle="tooltip" data-placement="top" title="correct response recalled with serious difficulty">3</a>
                                      <a class="btn btn-warning btn-md testbtn2 testbtn" data-toggle="tooltip" data-placement="top" title="incorrect response, but was on the tip of my tongue">2</a>
                                      <a class="btn btn-danger btn-md testbtn1 testbtn" data-toggle="tooltip" data-placement="top" title="the answer at least looks familiar">1</a>
                                      <a class="btn btn-danger btn-md testbtn0 testbtn" data-toggle="tooltip" data-placement="top" title="complete blackout">0</a>
                                      <span>Hard</span>
                                      <a class="btn btn-danger btn-md saveQuit">Save and Quit</a>

                                  </div>

                                  <hr>
                                  <div class="stats">
                                      <i class="ti-reload"></i> <span class="cardCount"></span>
                                  </div>
                              </div>
                            </div>
                            <% index++%>
                          <%  } %>
                          <% }) %>
                          <div class="endTestTop">
                            <h3>Finish!</h3>
                          </div>
                          <div class="endTest">
                            <a class="btn btn-primary btn-lg"><i class="ti-back-left"></i><span class="dashBtn">Save and Go to Dashboard</span></a>
                          </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
  </div>
